@import "tailwindcss";
@import "./app/styles/scrollbar";

@theme {
  --color-primary: black;
  --color-primary-contrast: white;
  --color-secondary: #f9f8f2;
  --color-secondary-contrast: black;
  --color-tertiary: #f4a375;
  --color-tertiary-contrast: black;
  --color-success: #28b463;
  --color-success-contrast: white;
  --color-error: #cb4335;
  --color-error-contrast: white;
  --color-warn: #ca6f1e;
  --color-warn-contrast: white;
  --color-info: #2e86c1;
  --color-info-contrast: white;
  --color-action: #93386b;
  --color-action-contrast: white;
  --color-disabled: #f2f3f4;
  --color-disabled-contrast: black;
  --color-white: white;
  --color-white-contrast: black;
}

body,
html {
  width: 100dvw;
  height: 100dvh;
  padding: 0px;
  margin: 0px;

  * {
    box-sizing: border-box;
  }
}

a {
  text-decoration: none;
}

input {
  border: none;
  border-bottom: 1px solid green;
  width: 100%;
  height: 30px;
  background-color: rgba(white, 1);
  padding: 0px 4px;

  &:invalid {
    border-color: red;
  }
}

button,
.button,
a .button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  border-radius: 4px;
  margin: 0px;
  line-height: 1em;
}

button {
  border: none;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

code {
  white-space: pre-wrap;
  text-wrap: nowrap;
}

::placeholder {
  color: grey;
  opacity: 0.5; /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: grey;
}

.font-brush {
  font-family: "Brush Script MT", cursive;
}

select {
  cursor: pointer;
}
