<div class="flex gap-4">
  <div>
    <input required type="text" name="description" [(ngModel)]="step.target" />
  </div>
  <div>
    {{ step.type }}
  </div>
  <div>
    <select name="comparison" [(ngModel)]="step.comparison">
      <option
        *ngFor="let comparisonType of comparisonTypes"
        [value]="comparisonType"
      >
        {{ comparisonType }}
      </option>
    </select>
  </div>
  <div>
    <input required type="text" name="description" [(ngModel)]="step.value" />
  </div>
</div>
