<div class="grow flex-col gap-8">
  <ng-container
    *ngFor="let flow of flows; index as flowIndex; trackBy: userTrackBy"
  >
    <div class="flex gap-8 bg-info p-8">
      <div class="grow">
        <app-testset-form-flow
          [flow]="flow"
          (save)="onSave($event, flowIndex)"
        ></app-testset-form-flow>
      </div>
      <div>
        <button class="button-error" (click)="removeFlow(flowIndex)">x</button>
      </div>
    </div>
  </ng-container>
  <div>
    <button class="button button-action" (click)="addFlow()">
      Add new test flow
    </button>
  </div>
</div>
