<div class="flex flex-col h-full overflow-auto">
  <div class="bg-secondary text-seconday-contrast p-4 px-8">
    <div class="flex gap-2 w-full">
      <a class="text-4xl font-brush antialiased" routerLink="/">{{
        i18n.trans.app.title
      }}</a>
      <div class="grow flex gap-2 justify-end">
        <div class="not-first:border-l-2 boder-color-primary">
          <a class="button" routerLink="/tests">{{
            i18n.trans.pages.tests.title
          }}</a>
        </div>
        <div class="not-first:border-l-2 boder-color-primary">
          <a class="button" routerLink="/org">{{
            i18n.trans.pages.org.title
          }}</a>
        </div>
        <div class="not-first:border-l-2 boder-color-primary">
          <a class="button" routerLink="/account">{{
            i18n.trans.pages.account.title
          }}</a>
        </div>
        <div class="not-first:border-l-2 boder-color-primary pt-1 px-4">
          <select
            name="locale"
            id="locale"
            [(ngModel)]="currentLocale"
            (ngModelChange)="setLocale($event)"
          >
            @for (locale of i18n.enabledLocales; track locale) {
              <option [value]="locale" [title]="localeLabel(locale)">
                {{ localeShortLabel(locale) }}
              </option>
            }
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="grow overflow-auto">
    <router-outlet></router-outlet>
  </div>
</div>
