<div class="grow flex-col gap-16">
  <ng-container
    *ngFor="let step of steps; index as stepIndex; trackBy: userTrackBy"
  >
    <div class="flex gap-4 items-center">
      <div class="grow">
        <app-testset-form-step
          [step]="step"
          (save)="onSave($event, stepIndex)"
        ></app-testset-form-step>
      </div>
      <div>
        <button class="button-error" (click)="removeStep(stepIndex)">x</button>
      </div>
    </div>
  </ng-container>

  <div>
    <select
      name="new-step-options"
      id="new-step-options"
      class="button button-action"
      [(ngModel)]="newStepType"
      (change)="addStep($event)"
    >
      <option value="">Add new step</option>
      <option *ngFor="let stepType of stepTypes" [value]="stepType">
        <span>
          Add <b>{{ stepType }}</b>
        </span>
      </option>
    </select>
  </div>
</div>
