<div class="flex-col gap-16">
  <h1>Testsets</h1>

  <div class="flex-col gap-8">
    <ng-container *ngFor="let test of tests$ | async">
      <div class="border-left-md p-4 flex gap-8 items-center">
        <a [routerLink]="['/run', test.id]">
          {{ test.name }}
        </a>
        <div>
          <button class="button-error" (click)="dropTest(test.id)">x</button>
        </div>
      </div>
    </ng-container>
  </div>

  <div>
    <button class="button-action" (click)="addNewTest()">Add new test</button>
  </div>
</div>
