<div class="flex flex-col gap-4 h-full">
  <div>
    <input
      required
      type="text"
      name="title"
      id="title"
      placeholder="Tests Title"
      title="Tests Title"
      [(ngModel)]="testSet.title"
      (ngModelChange)="onSave(testSet.flows)"
    />
  </div>
  <div>
    <input
      required
      type="text"
      name="description"
      id="description"
      placeholder="Description"
      title="Description"
      [(ngModel)]="testSet.description"
      (ngModelChange)="onSave(testSet.flows)"
    />
  </div>

  <div class="grow flex flex-col gap-4">
    <app-testset-form-flows
      class="h-full"
      [flows]="testSet.flows"
      (save)="onSave($event)"
    ></app-testset-form-flows>
  </div>
</div>
