<div class="flex flex-col h-full overflow-auto p-4">
  <div class="flex bg-disabled" *ngIf="openTabs$ | async as openTabs">
    <div
      class="not-first:border-l-8 border-white basis-full cursor-pointer"
      [ngClass]="{ 'bg-tertiary text-tertiary-contrast': openTabs.EDIT }"
      (click)="setTab(tabs.EDIT)"
    >
      <div class="flex space-between w-full">
        <span class="grow p-3">{{ i18n.trans.app.labels.test }}</span>

        <span
          class="px-5 py-3 font-bold text-xl"
          (click)="$event.stopPropagation(); setTab(tabs.EDIT, true)"
        >
          @if (openTabs.EDIT) {
            -
          } @else {
            +
          }
        </span>
      </div>
    </div>
    <div
      class="not-first:border-l-8 border-white basis-full cursor-pointer"
      [ngClass]="{ 'bg-tertiary text-tertiary-contrast': openTabs.PREVIEW }"
      (click)="setTab(tabs.PREVIEW)"
    >
      <div class="flex space-between w-full">
        <span class="grow p-3">{{ i18n.trans.app.labels.preview }}</span>

        <span
          class="px-5 py-3 font-bold text-xl"
          (click)="$event.stopPropagation(); setTab(tabs.PREVIEW, true)"
        >
          @if (openTabs.PREVIEW) {
            -
          } @else {
            +
          }
        </span>
      </div>
    </div>
    <div
      class="not-first:border-l-8 border-white basis-full cursor-pointer"
      [ngClass]="{ 'bg-tertiary text-tertiary-contrast': openTabs.RESULT }"
      (click)="setTab(tabs.RESULT)"
    >
      <div class="flex space-between w-full">
        <span class="grow p-3">{{ i18n.trans.app.labels.result }}</span>

        <span
          class="px-5 py-3 font-bold text-xl"
          (click)="$event.stopPropagation(); setTab(tabs.RESULT, true)"
        >
          @if (openTabs.RESULT) {
            -
          } @else {
            +
          }
        </span>
      </div>
    </div>
  </div>

  <div
    class="grow flex gap-4 h-full overflow-auto"
    *ngIf="openTabs$ | async as openTabs"
  >
    <div
      class="flex flex-col h-full gap-4 basis-full grow overflow-auto"
      [ngClass]="{ hidden: !openTabs.EDIT }"
    >
      <div class="flex space-between items-center w-full">
        <h1 class="grow">{{ i18n.trans.pages.runTest.title }}</h1>
        <div *ngIf="testSet$ | async as testSet">
          <button
            class="bg-action text-action-contrast disabled:bg-disabled"
            (click)="runTest(testSet)"
            [disabled]="running$ | async"
          >
            {{ i18n.trans.app.actions.run }}
          </button>
        </div>
      </div>

      <div
        *ngIf="testSet$ | async as testSet"
        class="grow w-full overflow-auto"
      >
        <app-testset-form
          [testSet]="testSet"
          (save)="onTestsetChange($event)"
        ></app-testset-form>
      </div>
    </div>

    <div
      class="flex flex-col gap-4 basis-full grow overflow-auto"
      [ngClass]="{ hidden: !openTabs.PREVIEW }"
    >
      <h1>{{ i18n.trans.app.labels.preview }}</h1>
      <app-testset-preview
        *ngIf="testSet$ | async as testSet"
        [testSet]="testSet"
      ></app-testset-preview>
    </div>

    <div
      class="flex flex-col gap-4 basis-full grow scroll overflow-auto"
      [ngClass]="{ hidden: !openTabs.RESULT }"
    >
      @if (testError$ | async; as testError) {
        <div>
          <div class="flex space-between items-center w-full">
            <h1 class="text-error">{{ i18n.trans.app.labels.error }}</h1>

            <span>
              <a
                class="button bg-action text-action-contrast"
                target="_blank"
                [href]="screenshotsURL$ | async"
                >{{ i18n.trans.pages.runTest.viewScreenshots }}</a
              >
            </span>
          </div>
          <div>
            {{ i18n.trans.app.labels.status }}: {{ testError.response?.status }}
          </div>
          <code [innerHTML]="safeHtml(testError.body?.error)"></code>
        </div>
      } @else {
        @switch (running$ | async) {
          @case (true) {
            <p class="text-center w-full">
              {{ i18n.trans.app.labels.runningTest }}
            </p>
          }
          @case (false) {
            @if (testResult$ | async; as testResult) {
              <div class="flex space-between items-center w-full">
                <h1 class="grow text-success">
                  {{ i18n.trans.app.labels.testResult }}
                </h1>
                <span>
                  <a
                    class="button bg-action text-action-contrast"
                    target="_blank"
                    [href]="screenshotsURL$ | async"
                    >{{ i18n.trans.pages.runTest.viewScreenshots }}</a
                  >
                </span>
              </div>
              <code [innerHTML]="safeHtml(testResult.log)"></code>
            } @else {
              <p class="text-center w-full">
                {{ i18n.trans.pages.runTest.clickRunToExecuteTest }}
              </p>
            }
          }
        }
      }
    </div>
  </div>
</div>
