<div class="h-full w-full flex gap-4">
  <div class="flex flex-col h-full gap-4 basis-full grow overflow-auto">
    <div class="flex space-between items-center w-full">
      <h1 class="grow">Test section</h1>
      <div *ngIf="testSet$ | async as testSet">
        <button
          class="bg-action text-action-contrast"
          (click)="runTest(testSet)"
          [disabled]="running$ | async"
        >
          Run test
        </button>
      </div>
    </div>

    <div *ngIf="testSet$ | async as testSet" class="grow w-full overflow-auto">
      <app-testset-form
        [testSet]="testSet"
        (save)="onTestsetChange($event)"
      ></app-testset-form>
    </div>
  </div>

  <div class="flex flex-col gap-4 basis-full grow overflow-auto">
    <app-testset-preview
      *ngIf="testSet$ | async as testSet"
      [testSet]="testSet"
    ></app-testset-preview>
  </div>

  <div class="flex flex-col gap-4 basis-full grow scroll overflow-auto">
    <div class="flex space-between items-center w-full">
      @switch (running$ | async) {
        @case (true) {
          <h1>Running tests. Please, wait.</h1>
        }
        @case (false) {
          @switch ((sanitizedHtml$ | async) ? true : false) {
            @case (false) {
              <h1>Run your tests to see the results here</h1>
            }
            @case (true) {
              <h1 class="grow">Test Result</h1>
              <span>
                <a
                  class="button bg-action text-action-contrast"
                  target="_blank"
                  [href]="screenshotsURL$ | async"
                  >View screenshots</a
                >
              </span>
            }
          }
        }
      }
    </div>

    <code [innerHTML]="sanitizedHtml$ | async"></code>
  </div>
</div>
