<div class="h-full flex">
  <div class="border flex-col gap-4 p-8 flex-same-size grow">
    <div class="flex space-between">
      <div>Test section</div>
      <div *ngIf="testSet$ | async as testSet">
        <button (click)="runTest(testSet)" [disabled]="running$ | async">
          run
        </button>
      </div>
    </div>

    <div *ngIf="testSet$ | async as testSet">
      <app-testset-form [testSet]="testSet"></app-testset-form>
    </div>
  </div>

  <div class="border flex-col gap-4 p-8 flex-same-size grow">
    <div class="">
      @switch((running$ | async)) { @case (true) { Running tests. Please, wait.
      } @case (false) { Result } }
    </div>

    <code class="pre-line">
      {{ responseBody$ | async }}
    </code>
  </div>
</div>
